<mat-card class="card-content">

    <h3>{{isNew ? 'Cadastrar' : 'Alterar'}} Maquina</h3>
    <form [formGroup]="form">

        <p>
            <mat-form-field class="field-80" appearance="standard">
                <mat-label>Nome</mat-label>
                <input matInput  formControlName="nome" placeholder="exemplo: caminhão 03">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Nome do maquinario</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field  class="field-80" appearance="standard">
                <mat-label>Data da Aquisição</mat-label>
                <input matInput  formControlName="ano" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="field-80" appearance="standard">
                <mat-label>Tipo de Maquinario</mat-label>
                <mat-select formControlName="tipo" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let tipo of tipoMaquinas" [value]="tipo.tipo_maquina_id">
                        {{tipo.nome}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.hasError('required')">Por favor escolha um tipo de maquinario</mat-error>
                <mat-hint>{{form.value.tipo}}</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="field-80" appearance="standard">
                <mat-label>Modelo</mat-label>
                <mat-select  formControlName="modelo" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let modeloMaquina of modeloMaquinas" [value]="modeloMaquina.modelo_maquina_id">
                        {{modeloMaquina.nome}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.hasError('required')">Por favor escolha um modelo de maquinario</mat-error>
                <mat-hint>{{form.value?.modelo}}</mat-hint>
            </mat-form-field>
        </p>
    </form>
        <button mat-raised-button (click)="isNew ? save() : update()" class="button-80" color="green">{{isNew ? 'Salvar' : 'Alterar'}}</button>
    </mat-card>