    <mat-drawer-container [hasBackdrop]="true" class="container-menu" autosize>
        <div class="bar">
            <button mat-icon-button color="blue" type="button" mat-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <mat-drawer #drawer mode="push">
          <mat-selection-list>
            <a routerLink="/main/">
              <mat-list-item >
               Inicio
              </mat-list-item>
            </a>

          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Maquinarios
                </mat-panel-title>
                <mat-icon>account_circle</mat-icon>
              </mat-expansion-panel-header>
              
              <a routerLink="/main/maquina/list-maquina">
                <mat-list-item >
                  Maquinas
                </mat-list-item>
              </a>

              <a routerLink="/main/maquina/list-abastecimento">
                <mat-list-item >
                  Abastecimento
                </mat-list-item>
              </a>
              <a routerLink="/main/maquina/list-manutenção">
                <mat-list-item >
                  Manutenção
                </mat-list-item>
              </a>
            </mat-expansion-panel>
          </mat-accordion>

          <a routerLink="/main/doc">
            <mat-list-item >
              Doc
            </mat-list-item>
           </a>

        </mat-selection-list>

        </mat-drawer>
        <ng-content></ng-content>
    </mat-drawer-container>